	ul {
    list-style-type: none; /*No dots on list*/
    }

	/**BLOCKS FOR FOTBOLL**/
	
	/*Block for Champions*/
	.champions-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for Ligue 1*/
	.ligue1-div { 
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for Premier League*/
	.premier-div { 
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }

    /*Block for La Liga*/
	.laliga-div { 
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for Bundes Liga*/
	.bundes-div { 
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for All Svenskan*/
	.allsvenskan-div { 
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
	/**BLOCKS FOR HOCKEY**/
	
	/*Block for Boston*/
	.boston-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for Montreal*/
	.montreal-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
	
	/*Block for New York Rangers*/
	.newyork-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for Toronto*/
	.toronto-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for Chicago*/
	.chicago-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for Flyers*/
	.flyers-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    

	/**BLOCKS FOR MMA**/
	
	/*Block for UFC*/
	.ufc-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
	/*Block for Bellator*/
	.ufc-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    /*Block for WSOF*/
	.wsof-div {
    width: 90%;
    height: inherit;
    padding: 0;
    border: 1px;
    border-style: none;
    margin: auto;
    margin-bottom: 0; 
    display: block;
    position: relative;
    }
    
    
    .hockey-div { /*Block for hockey*/
    width: 90%;
    height: 300px;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: #00DFCC;
    border-radius: 2px;
    background-color: #00DFCC;
    margin: auto;
    margin-bottom: 10px; 
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

    }

    /* {
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0px;
    }
*/
    .basket-div { /*Block for basket*/
    width: 90%;
    height: 300px;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: #FF3230;
    border-radius: 2px;
    background-color: #FF3230;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

    }




    /*FIRST MENU*/
    input[type=checkbox].css-checkbox {
         z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:0px; padding:0; border:0; 
                        }

                        input[type=checkbox].css-checkbox + label.css-label {
                           
                            height:19px; 
                            display:block;
                          
                            background-repeat:no-repeat;
                            background-position: 0 0;
                            font-size:19px;
                            vertical-align:middle;
                            cursor:pointer;
                        }

                        input[type=checkbox].css-checkbox:checked + label.css-label {
                            background-position: 0 -19px;
                        }
                        label.css-label {
                background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_01d3f4a899d3ddc2fd09ae59b2e7136a.png);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
    /*  KLASSEN FÖR FILTER BILDERNA  */

    .fotboll {
    content: url(filter/Fotboll-Non.png);
    width: 100%;
    height: 16%;
    }
    .fotboll:checked {
    content: url('filter/Fotboll-Act.png');
    width: 100%;
    height: 16%;

    }


    .hockey {
    content: url('filter/Hockey-Non.png');
    width: 100%;
    height: 16%;
    }
    .hockey:checked {
    content: url('filter/Hockey-Act.png');
    width: 100%;
    height: 16%;
    }
    .hockey-mer {
    content: url('filter/Hockey-Non.png');
    width: 100%;
    height: 16%;
    }

    .vinter {
    content: url('filter/Vinter-Non.png');
    width: 100%;
    height: 16%;
    }
    .vinter:checked {
    content: url('filter/Vinter-Act.png');
    width: 100%;
    height: 16%;
    }
    .vinter-mer {
    content: url('filter/Vinter-Non.png');
    width: 100%;
    height: 16%;
    margin:0;
    }

    .handboll {
    content: url('filter/Handboll-Non.png');
    width: 100%;
    height: 16%;
    }
    .handboll:checked {
    content: url('filter/Handboll-Act.png');
    width: 100%;
    height: 16%;
    }
    .handboll-mer {
    content: url('filter/Handboll-Non.png');
    width: 100%;
    height: 16%;
    }

    .mma {
    content: url('filter/Mma-Non.png');
    width: 100%;
    height: 16%;
    }
    .mma:checked {
    content: url('filter/Mma-Act.png');
    width: 100%;
    height: 16%;
    }
    .mma-mer {
    content: url('filter/Mma-Non.png');
    width: 100%;
    height: 17%;
    }

    .native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;

    }

	/*Block for fotboll*/
    .block-div {
    width: 90%;
    height: 300px;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: #FCC000;
    border-radius: 2px;
    background-color: #FCC000;
    margin: auto;
    margin-bottom: 10px; 
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    position: relative;

    }


    .wrap{
    width: 100%;
    height: 10%;
    float: left;
    display: block;    
    margin: auto;    
    }

    .box{
    width: 100%;
    height: 12%;
    display: block;

    }

    .left{
    float: left;
    background: white;

    }

    .right{
    float: right;
    background: #48A0DC;
    }



    /*  SECTIONS  */
    .section {
    clear: both;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
    }

    /*  COLUMN SETUP  */
    .col {
    display: block;
    float:left;
    border-width: 0px;
    margin-bottom: -2px;
    display: inline-block;
    width: 100%;
    }
    .col:first-child { margin-left: 0;}

    /*  GROUPING  */
    .group:before,
    .group:after { content:""; display:table; }
    .group:after { clear:both;}
    .group { zoom:1; /* For IE 6/7 */ }
    /*  GRID OF TWO  */
    .span_2_of_2 {
    width: 50%;
    height: auto;
    }
    .span_1_of_2 {
    width: 50%;
    height: 18%;
    }


    /* HERE STARTS FOTBOLLS FILTER */

    .champions {
    content: url('fotboll/Champions-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;

    }
    .champions:checked {
    content: url('fotboll/Champions-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .europa {
    content: url('fotboll/Europa-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;    
    }
    .europa:checked {
    content: url('fotboll/Europa-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .premier {
    content: url('fotboll/Premier-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .premier:checked {
    content: url('fotboll/Premier-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .laliga {
    content: url('fotboll/LaLiga-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .laliga:checked {
    content: url('fotboll/LaLiga-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .seriea {
    content: url('fotboll/Seriea-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .seriea:checked {
    content: url('fotboll/Seriea-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .bundes {
    content: url('fotboll/Bundes-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .bundes:checked {
    content: url('fotboll/Bundes-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .ligue1 {
    content: url('fotboll/Ligue1-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: auto;
    }
    .ligue1:checked {
    content: url('fotboll/Ligue1-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: auto;
    }
    .allsvenskan {
    content: url('fotboll/Allsvenskan-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: inherit;
    }
    .allsvenskan:checked {
    content: url('fotboll/Allsvenskan-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: inherit;
    }

    /* HERE STARTS MMA FILTER */

    .ufc {
    content: url('Mma/UFC-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;

    }
    .ufc:checked {
    content: url('Mma/UFC-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .bellator {
    content: url('mma/Bellator-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;    
    }
    .bellator:checked {
    content: url('Mma/Bellator-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .wsof {
    content: url('Mma/Wsof-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .wsof:checked {
    content: url('Mma/Wsof-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .one {
    content: url('Mma/One-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .one:checked {
    content: url('Mma/One-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .invicta {
    content: url('Mma/Invicta-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .invicta:checked {
    content: url('Mma/Invicta-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .mfc {
    content: url('Mma/Mfc-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .mfc:checked {
    content: url('Mma/Mfc-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .legacy {
    content: url('Mma/Legacy-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -2px;
    margin-left: auto;
    }
    .legacy:checked {
    content: url('Mma/Legacy-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -2px;
    margin-left: auto;
    }
    .king {
    content: url('Mma/King-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -2px;
    margin-left: inherit;
    }
    .king:checked {
    content: url('Mma/King-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -2px;
    margin-left: inherit;
    }
    
    /* HERE STARTS HOCKEY FILTER */

    .boston {
    content: url('hockey/Boston-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;

    }
    .boston:checked {
    content: url('hockey/Boston-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .montreal {
    content: url('hockey/Montreal-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;    
    }
    .montreal:checked {
    content: url('hockey/Montreal-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .newyork {
    content: url('hockey/NewYork-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .newyork:checked {
    content: url('hockey/NewYork-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .toronto {
    content: url('hockey/Toronto-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .toronto:checked {
    content: url('hockey/Toronto-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .chicago {
    content: url('hockey/Chicago-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .chicago:checked {
    content: url('hockey/Chicago-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: auto;
    }
    .flyers {
    content: url('hockey/Flyers-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .flyers:checked {
    content: url('hockey/Flyers-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    margin-left: inherit;
    }
    .flames {
    content: url('hockey/Flames-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: auto;
    }
    .flames:checked {
    content: url('hockey/Flames-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: auto;
    }
    .sharks {
    content: url('hockey/Sharks-Non.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: inherit;
    }
    .sharks:checked {
    content: url('hockey/Sharks-Act.png');
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: inherit;
    }
 
 /** ARTICLE STYLING **/   
 /* Basic Resetb*/
 
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Basics Styles */
html {
	font-size: 50.5%;
}
body {
	background-color: #eee;
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.6;
	color: #666;
	margin: 0;
}

a {
	text-decoration: none;
	color: #3498db;
}
	a:hover {
		color: #2980b9;
	}

h2 {
	line-height: 1.2;
	margin-bottom: 0.30rem;
	font-size: 1.6em;
}

h4 {
	line-height: 1.3em;
	margin-bottom: 0.25rem;
	font-size: 1.18em;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}
.wrapper {
	max-width: 400px;
	margin: 2px auto;
}

/* Helpers */
.border-tlr-radius { 
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.shadowDepth1 {
   box-shadow: 
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 3px rgba(0,0,0, 0.30);      
}


/* Card Styles */

.card {
	background-color: #fff;
	margin-bottom: 1.6rem;
}

.card__padding {
	padding: 1.6rem;
}
 
.card__image {
	min-height: 100px;
	background-color: #eee;
}
	.card__image img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

.card__content {
	position: relative;
}

/* Card meta */
.card__meta time {
	font-size: 1.5rem;
	color: #bbb;
	margin-left: 0.8rem;
}

/* Card rticle */
.card__article a {
	text-decoration: none;
	color: #444;
}
	.card__article a:active {
		color: #2980b9;
	}